body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  max-width: 2500px;
  margin-top: 10px;
  padding: 20px;
}

header {
  height: 85px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(104, 100, 100);
  box-shadow: 0 -8px 26px black;
  padding: 0 20px;
  margin: -8px -8px 0 -8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_content h1 {
  font-size: 2.5rem;
  color: black;
  margin-left: 30px;
  margin-right: 450px;
}

ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
  margin-right: 30px;
}

ul li {
  display: inline-flex;
}

ul a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

ul a:hover {
  color: #ffd700;
}

section {
  margin-top: 100px;
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  color: red;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.intro,
.what-is-pizza,
.make-pizza {
  margin-bottom: 40px;
}

img {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-image {
  width: 80%;
  height: auto;
  margin: 20px 0;
}

.gallery-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 1 30%;
  text-align: center;
  margin-bottom: 20px;
}

.gallery-item img {
  width: 300px;
  height: 300px;
  gap: 20px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

h3 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: black;
}

footer {
  background-color: darkgrey;
  padding: 10px 0;
  margin-top: 20px;
}

footer p {
  margin: 0;
  font-size: 1rem;
}
